# Основные зависимости
pygame==2.5.2
numpy==1.26.4
matplotlib==3.8.3

# Библиотеки для визуализации и трассировки
graphviz==0.20.1  # Для рендеринга .dot в PNG
plantuml==0.3.0   # Для генерации диаграмм PlantUML

# Специфичные зависимости проекта
arxviz>=0.1.0     # Модуль визуализации архитектуры
arxerr>=0.1.0      # Модуль обработки ошибок с трассировкой
arxglue>=0.1.0     # Модуль связи компонентов